[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "libjpeg-turbo"]
	path = libjpeg-turbo
	url = git@github.com:libjpeg-turbo/libjpeg-turbo.git
[submodule "libtiff"]
	path = libtiff
	url = https://gitlab.com/libtiff/libtiff
[submodule "openexr"]
	path = openexr
	url = git@github.com:AcademySoftwareFoundation/openexr.git
[submodule "FFmpeg"]
	path = FFmpeg
	url = git@github.com:FFmpeg/FFmpeg.git
